html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout__container {
  display: flex;
  min-height: 100vh;
}

.page__container > .fullpage__container {
  width: 100%;
  height: 100%;
  display: flex;
  place-content: center center;
}

.fullpage__container > h1.loading__text {
  font-size: 3rem;
}